// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-image-size{
  width: 1700px;
  height: 450px;
}
.image-trim{
  border-radius: 50%;
  width: 180px;
  height: 180px;
}